<h1>Lista producentów</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Adres</th>
    <th>Telefon</th>
    <th>E-mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @producents.each do |producent| %>
  <tr>
    <td><%= producent.NazwaProducenta %> </td>
    <td><%= producent.Adres %> </td>
    <td><%= producent.Telefon %> </td>
    <td><%= producent.Email %> </td>
    <td><%= link_to 'Pokaż', producent %></td>
    <td><%= link_to 'Edytuj', edit_producent_path(producent) %></td>
    <td><%= link_to 'Usuń', producent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy producent', new_producent_path %>
