<h1>Hurtownia leków</h1>

            <div class="content">
            <%- if klient_signed_in? %>
            <%= "Witaj #{current_klient.email}!" %>
                  <p><%= "Jesteś klientem." %></p>            
            <%- elsif pracownik_signed_in? and current_pracownik.type == "Admin" %> <!-- + typ == admin? -->
                  <p><%= "Jesteś adminem, kierownikiem. " %></p>
            <%- elsif pracownik_signed_in? %>
                  <p><%= "Jesteś pracownikiem." %></p>
            <%- else %>
              <p><%= "By zacząć korzystać z systemu, zaloguj się używając odsyłaczy znajdujących się pod logotypem." %> </p>
             <%- end %>
             
            </div>
        