
<h1>Lista leków</h1>
<table>
  <tr>
    <th>Nazwa</th>
    <th>Producent</th>
    <th>Cena</th>
    <th>Ilość</th>
    <% if can? :read, @lek %><th></th><%- end %>
    <% if can? :update, @lek %><th></th><%- end %>
    <% if can? :cancel, @lek %><th></th><%- end %>
  </tr>

<% @leks.each do |lek| %>
  <tr>    
    <td><%= lek.NazwaLeku %></td>
    <td><%= lek.producent.NazwaProducenta %></td>
    <td><%= lek.Cena %></td>
    <td><%= lek.Ilosc %></td>
    <% if can? :read, @lek %>
    <td><%= link_to 'Pokaż', lek %></td>
    <%- end %>
    <% if can? :update, @lek %>
    <td><%= link_to 'Edytuj', edit_lek_path(lek) %></td>
    <%- end %>
    <% if can? :cancel, @lek %>
    <td><%= link_to 'Usuń', lek, :confirm => 'Czy na pewno?', :method => :delete %></td>
    <%- end %>
  </tr>
<%- end %>
  </table>

<br />
<% if can? :create, @lek %>
<%= link_to 'Nowy lek', new_lek_path %>
<%- end %>
